
.ftco-about .img-about {
  width: 100%;
  z-index: 0;
  position: relative; }
  .ftco-about .img-about .img {
    display: block;
    width: 100%;
    position: relative;
    z-index: 1; }

.ftco-about .text-about h4 {
  font-size: 20px;
  font-weight: 700; }

.ftco-about ul.about-info {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%; }
  .ftco-about ul.about-info li {
    list-style: none;
    margin-bottom: 10px; }
    .ftco-about ul.about-info li span {
      width: calc(100% - 130px); }
      .ftco-about ul.about-info li span:first-child {
        font-weight: 600;
        color: #000000;
        width: 130px; }

.ftco-about .counter-wrap .text p {
  font-size: 14px; }
  .ftco-about .counter-wrap .text p span {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9); }
  .ftco-about .counter-wrap .text p span.number {
    font-weight: 700;
    color: #fff; }

.ftco-about .counter-wrap .text .btn-custom {
  background: #17b978;
  padding: 10px 15px;
  border-radius: 40px; }

#navi {
  top: 180px;
  position: -webkit-sticky;
  position: sticky;
  margin: 0; }
  #navi ul {
    margin: 0;
    padding: 0; }
  #navi li {
    font-weight: 700;
    list-style: none;
    margin-bottom: 15px; }
    #navi li a {
      color: #263b5e; }
      #navi li a.current {
        color: #17b978;
        margin-left: 20px;
        position: relative; }
        #navi li a.current:after {
          position: absolute;
          top: 50%;
          left: -24px;
          width: 20px;
          height: 2px;
          content: '';
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          background: #17b978; }

.page {
  width: 100%;
  margin-bottom: 7em;
  border-radius: 5px;
  padding: 30px; }
  .page .heading {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px; }

.aside-stretch {
  background: #20e395; }
  .aside-stretch:after {
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    content: '';
    width: 360%;
    background: #20e395; }
  @media (max-width: 767.98px) {
    .aside-stretch {
      background: transparent; }
      .aside-stretch:after {
        background: transparent;
        display: none; } }

.form-control {
  height: 52px !important;
  background: #fff !important;
  color: #000000 !important;
  font-size: 18px;
  border-radius: 5px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }
  .form-control:focus, .form-control:active {
    border-color: #000000; }

textarea.form-control {
  height: inherit !important; }

.ftco-vh-100 {
  height: 100vh; }
  @media (max-width: 1199.98px) {
    .ftco-vh-100 {
      height: inherit;
      padding-top: 5em;
      padding-bottom: 5em; } }

.ftco-animate {
  opacity: 0;
  visibility: hidden; }



.ftco-section {
  padding: 7em 0;
  position: relative; }
  @media (max-width: 767.98px) {
    .ftco-section {
      padding: 6em 0; } }

.ftco-no-pt {
  padding-top: 0 !important; }

.ftco-no-pb {
  padding-bottom: 0 !important; }

.ftco-bg-dark {
  background: #3c312e; }

.ftco-footer {
  font-size: 16px;
  background: #000000;
  padding: 7em 0;
  z-index: 0; }
  .ftco-footer .ftco-footer-logo {
    text-transform: uppercase;
    letter-spacing: .1em; }
  .ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    color: #fff;
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: 600; }
  .ftco-footer .ftco-footer-widget ul li {
    margin-bottom: 10px; }
    .ftco-footer .ftco-footer-widget ul li a {
      color: rgba(255, 255, 255, 0.6); }
      .ftco-footer .ftco-footer-widget ul li a span {
        color: rgba(255, 255, 255, 0.6); }
  .ftco-footer .ftco-footer-widget .btn-primary {
    background: #fff !important;
    border: 2px solid #fff !important; }
    .ftco-footer .ftco-footer-widget .btn-primary:hover {
      background: #fff;
      border: 2px solid #fff !important; }
  .ftco-footer p {
    color: rgba(255, 255, 255, 0.7); }
  .ftco-footer a {
    color: rgba(255, 255, 255, 0.7); }
    .ftco-footer a:hover {
      color: #fff; }
  .ftco-footer .ftco-heading-2 {
    font-size: 17px;
    font-weight: 400;
    color: #000000; }

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block; }
  .ftco-footer-social li a {
    height: 40px;
    width: 40px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    position: relative; }
    .ftco-footer-social li a span {
      position: absolute;
      font-size: 16px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .ftco-footer-social li a:hover {
      color: #fff; }

.footer-small-nav > li {
  display: inline-block; }
  .footer-small-nav > li a {
    margin: 0 10px 10px 0; }
    .footer-small-nav > li a:hover, .footer-small-nav > li a:focus {
      color: #17b978; }

.media .ftco-icon {
  width: 100px; }
  .media .ftco-icon span {
    color: #17b978; }

#map {
  width: 100%; }
  @media (max-width: 767.98px) {
    #map {
      height: 300px; } }

.heading-section {
  position: relative; }
  .heading-section .subheading {
    font-size: 16px;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
    color: #17b978; }
  .heading-section h2 {
    font-size: 50px;
    font-weight: 700; }
    .heading-section h2 span {
      font-weight: 400; }
    @media (max-width: 767.98px) {
      .heading-section h2 {
        font-size: 38px; } }
  .heading-section.heading-section-white .subheading {
    color: rgba(255, 255, 255, 0.9) !important; }
  .heading-section.heading-section-white h2 {
    color: #fff; }
  .heading-section.heading-section-white p {
    color: rgba(255, 255, 255, 0.9); }

.img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

#section-counter {
  position: relative;
  z-index: 0; }

@media (max-width: 1199.98px) {
  .ftco-counter {
    background-position: center center !important; } }

.ftco-counter .block-18 {
  display: block;
  width: 100%;
  text-align: center;
  padding: 30px 20px; }

.ftco-counter .text strong.number {
  font-weight: 700;
  font-size: 34px;
  display: block;
  color: #263b5e; }

.ftco-counter .text span {
  display: block;
  font-size: 16px; }

@media (max-width: 767.98px) {
  .ftco-counter .counter-wrap {
    margin-bottom: 20px; } }

.ftco-counter .ftco-number {
  display: block;
  font-size: 72px;
  font-weight: bold;
  color: #17b978; }

.ftco-counter .ftco-label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .1em; }

.block-23 ul {
  padding: 0; }
  .block-23 ul li, .block-23 ul li > a {
    display: table;
    line-height: 1.5;
    margin-bottom: 15px; }
  .block-23 ul li span {
    color: rgba(255, 255, 255, 0.7); }
  .block-23 ul li .icon, .block-23 ul li .text {
    display: table-cell;
    vertical-align: top; }
  .block-23 ul li .icon {
    width: 40px;
    font-size: 18px;
    padding-top: 2px;
    color: white; }

.contact-section .contact-info p a {
  color: #1a1a1a; }

.contact-section .box {
  width: 100%;
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }
  @media (max-width: 991.98px) {
    .contact-section .box {
      margin-bottom: 30px; } }
  .contact-section .box .icon {
    width: 100px;
    height: 100px;
    background: #17b978;
    margin: 0 auto;
    margin-bottom: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .contact-section .box .icon span {
      color: #fff;
      font-size: 30px; }
  .contact-section .box h3 {
    font-size: 18px;
    font-weight: 600; }

.contact-section .contact-form {
  width: 100%; }

.contact-section .img {
  width: 100%;
  background-position: top center; }
  @media (max-width: 991.98px) {
    .contact-section .img {
      height: 500px; } }

.contact-section .contact-info p a {
  color: #17b978; }

.contact-section .contact-form {
  width: 100%; }
  @media (max-width: 767.98px) {
    .contact-section .contact-form .btn-primary {
      display: block;
      width: 100%; } }

.block-9 .form-control {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 15px; }

.image-popup {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1; }

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8; }

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0; }

#ftco-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000; }
