:root {
  --bs-blue: #06274E;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #06274E;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: "Montserrat", sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)); }


.resume-section #navi {
  top: 50px;
  position: -webkit-sticky; /* safari */
  position: sticky;
  float : top;
}

.resume-section #navi ul {
  margin: 0;
  padding: 0;
}
.resume-section #navi li {
  font-weight: 700;
  list-style: none;
  margin-bottom: 10px;
  font-size: 16px;
}
.resume-section #navi li a {
  color: #000000;
}
.resume-section #navi li a:active {
  color: rgb(43, 46, 177);
  margin-left: 20px;
  position: relative;
}
.resume-section .navi li a {
  position: absolute;
  top: 50%;
  left: -24px;
  width: 20px;
  height: 2px;
  content: "";
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: rgb(43, 46, 177);
}

.resume-section #navi .page {
  width: 100%;
  margin-bottom: 7em;
  top : 150px;
}
.resume-section #navi .page.four {
  margin-bottom: 0;
}
.resume-section .page .heading{
  font-weight: 800;
  font-size: 30px;
  margin: 50px 0 50px 0;
  color: #111;
}

.resume-section #page-1 .heading{
  margin-top: 0px;
}


.resume-wrap {
  width: 100%;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}
.resume-wrap .icon {
  width: 50px;
  height: 50px;
  background: #111;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.resume-wrap .icon span {
  color: #fff;
  font-size: 28px;
  margin-right: 50px;
}
.resume-wrap .text {
  width: calc(100% - 50px);
  margin-left: 20px;
}
.resume-wrap .date {
  font-weight: 700;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  color: #111;
}
.resume-wrap h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}
.resume-wrap .position {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.resume-section .resume-flex {
  width : 1100px;
  margin : 50px auto;
  clear: both;
}

.resume-section .resume-flex::before, .resume-section .resume-flex::after {
  content: "";
  display: table;
  clear: both;
}

.resume-section .resume-flex .left{
  width: 250px;
  vertical-align: top;
  display: inline-block;
  float: left;
  position: sticky;
  position: -webkit-sticky;
  top : 50px;
}
.resume-section .resume-flex .right{
  width: 750px;
  vertical-align: top;
  display: inline-block;
  float: right;
}

@media (max-width: 768px) {
  .resume-section .resume-flex .left{
    position: relative;
    float : center;
    vertical-align: middle;
    margin-bottom: 100px;
  }
  .resume-section .resume-flex .right{
    width: 100%;
    vertical-align: top;
    display: inline-block;
    float: center;
    position: relative;
  }
}


.galery #portfolio-flters {
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: var(--primary-);
  padding: 2px 15px;
  align-items: center;
  height: fit-content;
}
.galery #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  border-radius: 20px;
  background : #fff;
  color: #111;
  margin: 8px 4px 8px 4px;
  transition: 0.3s ease-in-out;
}
.galery #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #163E58;
  font-weight: bold;
  
}
.galery #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .button-group {
  margin: 80px auto;
  display: table;
}
.portfolio .button {
  padding: 10px 15px;
  border-radius: 5px;
  border: 0;
  color: #333;
  cursor: pointer;
  background-color: #eee;
  margin: 0 3px;
}
.portfolio .button:hover {
  background-color: #ccc;
  color: #fff;
}
.portfolio .button.is-checked {
  background: var(--bs-primary);
  color: #fff;
  border: 1px solid #fff;
}
.portfolio .element-item {
  background-color: #fff;
  padding: 0;
  margin: 10px;
  width: calc(33% - 20px);
  display: inline-block;
}


.infos {
  background-color: rgb(248, 248, 248);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 120px 0px;
  margin-top: 120px;
}


.infos .main-content {
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 20px 50px rgba(17, 17, 17, 0.13);
  width: 1050px;
  margin-left: 120px;
  margin-bottom: 100px;
}

.infos .main-content .left-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
}

.infos .main-content .left-image img {
  width: 100%;
  height: auto;
}

.infos .main-content .section-heading {
  padding: 60px 60px 30px 0px;
}

.infos .main-content .section-heading h2 {
  font-weight : bold;
  margin-top: 50px;
}

.infos .main-content .section-heading span {
  margin-bottom: 50px;
}

.infos .main-content p.more-info {
  margin-top: -15px;
  padding: 0px 60px 60px 60px;
}

.infos .main-content .widget {
  margin-left: 10px;
}

.infos .main-content .widget ul li {
  display: inline-block;
  margin: 0 10px;
}

.infos .main-content .widget ul li a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--bs-primary);
  display: inline-block;
  position: relative;
  color: #fff; 
}

.infos .main-content .widget ul li a span{
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
}

.infos .team-page {
  width: 100%;
  align-items: center;
}

.infos .team-page .slick-arrow {
  border: 0;
  background: transparent;
  color: #111;
  position: absolute;
  bottom: 0;
  z-index: 1;
  font-size: 25px;
  
}

.infos .team-page .slick-arrow:after {
  border: none;
}

.infos .team-page .slick-arrow.slick-disabled {
  color: rgb(65, 65, 65);
}

.infos .team-page .prevArrow {
  left: 10px;
  top: 50px;
}

.infos .team-page .nextArrow {
  right: 10px;
  top: 50px;
}

.infos .team-page .nextArrow:after:active {
  border: none;
}

.timeline-with-icons {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}

.timeline-with-icons .timeline-item {
  position: relative;
}

.timeline-with-icons .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline-with-icons .timeline-icon {
  position: absolute;
  left: -48px;
  background-color: var(--bs-primary);
  color: hsl(217, 88.8%, 35.1%);
  border-radius: 50%;
  height: 31px;
  width: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.timeline-carousel {
  margin: 0;
  background-color: var(--bs-primary);
  font-weight: 400;
  position: relative;
  overflow: hidden;
  height: 120vh;
}
.timeline-carousel:after, .timeline-carousel:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  background-color: var(--bs-primary);
  z-index: 3;
  width: 8%;
}
.timeline-carousel:after {
  left: 0;
}
.timeline-carousel:before {
  right: 0;
  opacity: 0;
}
.timeline-carousel .slick-list {
  overflow: visible;
}
.timeline-carousel .slick-dots {
  bottom: -73px;
}
.timeline-carousel h1 {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
}
.timeline-carousel p {
  color: rgba(255, 255, 255, 1);
  font-weight: 300;
}

.timeline-carousel__item-wrapper{
  padding-left: 175px;
}

.timeline-carousel__image {
  padding-right: 30px;
}
.timeline-carousel__item {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.timeline-carousel__item:last-child .timeline-carousel__item-inner:after {
  width: calc(100% - 30px);
}
.timeline-carousel__item-inner {
  position: relative;
  padding-top: 45px;
}
.timeline-carousel__item-inner:after {
  position: absolute;
  width: 100%;
  top: 45px;
  left: 0;
  content: "";
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.timeline-carousel__item-inner .year {
  font-size: 36px;
  line-height: 36px;
  color: var(--bs-primary);
  display: table;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 1;
  position: relative;
  margin: -15px 0 20px;
  font-weight: 700;
}
.timeline-carousel__item-inner .year:after {
  content: "";
  position: absolute;
  display: block;
  left: -10px;
  top: 0;
  height: 100%;
  width: 10px;
  z-index: 3;
}
.timeline-carousel__item-inner .month {
  font-size: 12px;
  text-transform: uppercase;
  color: #ffc107;
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}
.timeline-carousel__item-inner p {
  font-size: 12px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  width: 60%;
  font-weight: 400;
  margin-bottom: 15px;
}

.timeline-carousel__item-inner .pointer {
  height: 29px;
  position: relative;
  z-index: 1;
  margin: -4px 0 16px;
}
.timeline-carousel__item-inner .pointer:after, .timeline-carousel__item-inner .pointer:before {
  position: absolute;
  content: "";
}
.timeline-carousel__item-inner .pointer:after {
  width: 9px;
  height: 9px;
  border-radius: 100%;
  top: 0;
  left: 0;
  background-color: #ffc107;
}
.timeline-carousel__item-inner .pointer:before {
  width: 1px;
  height: 100%;
  top: 0;
  left: 4px;
  background-color: #ffc107;
}
.timeline-carousel .slick-active .media-wrapper {
  opacity: 1 !important;
}
.slick-dots {
  bottom: 160px;
  list-style: none;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: 2;
}
.slick-dots li {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  display: inline-block;
  margin: 0 6px;
  position: relative;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.slick-dots li:last-child {
  margin-right: 0;
}
.slick-dots li.slick-active button {
  background: #ffc107;
  border-color: #ffc107;
}
.slick-dots li button {
  display: block;
  font-size: 0;
  width: 10px;
  height: 10px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.slick-dots li button:hover {
  background: #fff;
  border-color: #fff;
}
.link {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  z-index: 9999;
}
.link a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.link .fa {
  font-size: 28px;
  margin-right: 8px;
  color: #fff;
}
.slick-prev svg, .slick-next svg {
  height: auto;
  width: 18px;
  padding-bottom: 2px;
}
.slick-prev .btn, .slick-next .btn {
  border-radius: 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}
.slick-prev, .slick-next {
  position: absolute;  
  z-index: 9;
  border-radius: 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}
.slick-prev {
  left: 10%;
  bottom: -80px;
}
.slick-next {
  right: 10%;
  bottom: -80px;
}

@media (max-width: 768px) {
  .timeline-carousel__item-wrapper{
    padding-left: 50px;
  }
  .slick-prev {
    display: none;
  }
  .slick-next {
    display: none;
  }
}


.philosophy {
  background:  url(../images/Hero/Team\ Footer.jpg) no-repeat center fixed;
  background-size: cover; 
  color: #fff;
}

.philosophy h2, .philosophy .custom-card .text h3, .philosophy .custom-card .text a,
.philosophy .custom-card img i {
  color: #fff;
}
