.resume-section #navi {
  top: 50px;
  position: -webkit-sticky; /* safari */
  position: sticky;
  float : top;
}

.resume-section #navi ul {
  margin: 0;
  padding: 0;
}
.resume-section #navi li {
  font-weight: 700;
  list-style: none;
  margin-bottom: 10px;
  font-size: 16px;
}
.resume-section #navi li a {
  color: #000000;
}
.resume-section #navi li a.current {
  color: rgb(160, 36, 36);
  margin-left: 20px;
  position: relative;
}
.resume-section .navi li a.current:after {
  position: absolute;
  top: 50%;
  left: -24px;
  width: 20px;
  height: 2px;
  content: "";
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: rgb(160, 36, 36);
}

.resume-section #navi .page {
  width: 100%;
  margin-bottom: 7em;
}
.resume-section #navi .page.four {
  margin-bottom: 0;
}
.resume-section .page .heading{
  font-weight: 800;
  font-size: 30px;
  margin: 50px 0 50px 0;
  color: #111;
}

.resume-section #page-1 .heading{
  margin-top: 0px;
}


.resume-wrap {
  width: 100%;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}
.resume-wrap .icon {
  width: 50px;
  height: 50px;
  background: #111;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.resume-wrap .icon span {
  color: #fff;
  font-size: 28px;
  margin-right: 50px;
}
.resume-wrap .text {
  width: calc(100% - 50px);
  margin-left: 20px;
}
.resume-wrap .date {
  font-weight: 700;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  color: #111;
}
.resume-wrap h2 {
  font-size: 16px;
  font-weight: 700;
}
.resume-wrap .position {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.resume-section .resume-flex {
  width : 1100px;
  margin : 50px auto;
  clear: both;
}

.resume-section .resume-flex::before, .resume-section .resume-flex::after {
  content: "";
  display: table;
  clear: both;
}

.resume-section .resume-flex .left{
  width: 250px;
  vertical-align: top;
  display: inline-block;
  float: left;
  position: sticky;
  position: -webkit-sticky;
  top : 50px;
}
.resume-section .resume-flex .right{
  width: 750px;
  vertical-align: top;
  display: inline-block;
  float: right;
}

@media (max-width: 768px) {
  .resume-section .resume-flex .left{
    position: relative;
    float : center;
    vertical-align: middle;
    margin-bottom: 100px;
  }
  .resume-section .resume-flex .right{
    width: 100%;
    vertical-align: top;
    display: inline-block;
    float: center;
    position: relative;
  }
}